schema_files/forecastFull.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="general.xsd" />
    <xs:include schemaLocation="weather.xsd" />
    <!-- ======================= Forecast Group Full ======================== -->
    <xs:complexType name="forecastGroupTypeFull">
        <xs:sequence>
            <xs:element name="dateTime" type="dateStampType" minOccurs="2" maxOccurs="2" />
            <xs:element name="regionalNormals" type="regionalNormalsType" />
            <xs:element name="forecast" type="forecastTypeFull" minOccurs="0" maxOccurs="20" />
        </xs:sequence>
    </xs:complexType>
    <!-- ======================= Forecast Full ======================== -->
    <xs:complexType name="forecastTypeFull">
        <xs:sequence>
            <xs:element name="period" type="periodType" />
            <xs:element name="textSummary" type="textSummaryType" />
            <xs:element name="cloudPrecip" type="cloudPrecipType" />
            <xs:element name="abbreviatedForecast" type="abbreviatedForecastType" />
            <xs:element name="temperatures" type="temperaturesType" />
            <xs:element name="winds" type="windsType" />
            <xs:element name="precipitation" type="precipTypeForecast" />
            <xs:element name="snowLevel" type="snowLevelType" minOccurs="0" maxOccurs="1" />
            <xs:element name="windChill" type="windChillType" minOccurs="0" maxOccurs="1" />
            <xs:element name="visibility" type="visibilityTypeForecast" minOccurs="0" maxOccurs="1" />
            <xs:element name="uv" type="uvType" minOccurs="0" maxOccurs="1" />
            <xs:element name="relativeHumidity" type="relativeHumidityType" minOccurs="0"
                maxOccurs="1" />
            <!-- <xs:element name="comfort" type="comfortType" minOccurs="0" maxOccurs="1" /> -->
            <xs:element name="humidex" type="humidexType" minOccurs="0" maxOccurs="1" />
            <xs:element name="frost" type="frostType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <!-- ======================= HourlyForecastGroup Full ======================== -->
    <xs:complexType name="hourlyForecastGroupTypeFull">
        <xs:sequence>
            <xs:element name="dateTime" type="dateStampType" minOccurs="0" maxOccurs="2" />
            <xs:element name="hourlyForecast" type="hourlyForecastTypeFull" minOccurs="0"
                maxOccurs="25" />
        </xs:sequence>
    </xs:complexType>

    <!-- ======================= HourlyForecast Full ======================== -->
    <xs:complexType name="hourlyForecastTypeFull">
        <xs:sequence>
            <xs:element name="condition" />
            <xs:element name="iconCode" type="iconCodeHourlyType" />
            <xs:element name="temperature" type="temperatureHourlyType" />
            <xs:element name="lop" type="lopHourlyType" />
            <xs:element name="windChill" type="windChillHourlyType" />
            <xs:element name="humidex" type="humidexHourlyType" />
            <xs:element name="wind" type="windHourlyType" />
            <xs:element name="uv" type="uvHourlyType" />
        </xs:sequence>
        <xs:attribute name="dateTimeUTC" type="dateTimeUTCType"></xs:attribute>
    </xs:complexType>
</xs:schema>
